In [ ]:
# SELECT * FROM jieun_db.recipeIngredient; 
# recipeId, ingredientId
# recipeId 가 1부터 시작해야하는데 0부터 시작했기 때문에 1을 더해주는 sql문을 작성해야함
# SELECT * FROM jieun_db.recipeIngredient WHERE recipeId = 1;
# SELECT * FROM jieun_db.recipeIngredient WHERE recipeId = 2;
# SELECT * FROM jieun_db.recipeIngredient WHERE recipeId = 3;
# SELECT * FROM jieun_db.recipeIngredient WHERE recipeId = 4;
UPDATE from jieun_db.recipeIngredient SET recipeId = recipeId + 1;

In [ ]:
ALTER TABLE `recipe` AUTO_INCREMENT=2; # 1부터 시작하게 함
SET @COUNT = 0; # 0부터 시작하게 함 
UPDATE `recipe` SET id = @COUNT:=@COUNT+1; # 1씩 증가하게 함